body {
  margin: 0;
}

.header {
  padding: 10px;
  text-align: center;
  background: #1e0605;
  color: white;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5e0921;
  flex-direction: column;
}

.inner {
  position: relative;
  width: 70vw;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bc0b34;
}

.grid {
  /* position: absolute;
  top: 10%;
  left: 9%;
  width: 100%;
  height: 100%; */
  /* position: relative;
  width: 70vw;
  height: 64vh; */
  position: relative;
  width: 35vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side-panel {
  position: relative;
  margin-left: 25px;
  width: 20%;
}

.pixel {
  position: absolute;
  width: 1rem;
  height: 1rem;
  cursor: crosshair !important;
}

.color {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* remove margin from last 2 childs */
.color:not(:nth-last-child(-n + 2)) {
  margin-bottom: 0.5rem;
}

.pallette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8rem;
  width: 13rem;
  height: auto;
  background: #bc0b34;
  margin: auto;
  align-self: flex-start;
}

button {
  background-color: #e22b0b;
  border: 0;
  color: #fefbef;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: justify-content;
  line-height: 3;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white; /* Green */
  color: #fcbd8b;
}
